<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Artstyles Edit Form</title>

  <form action="#" th:action="@{/artstyles/edit}" th:object="${artstyle}" method="post">

    <input type="hidden" th:field="*{id}"/>
    <label for="style">Style name:</label><br>
    <input type="text" id="style" name="style" th:field="*{style}"><br>

    <input type="submit" value="Submit">
  </form>
</head>
<body>

</body>
</html>