<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Customers Main Page</title>
</head>
<body>
<h1>Configure Customers.</h1>
<ul>
  <li th:each="customer: ${customers}">
    <span th:text="${customer.firstName}">name</span>
    <a
        th:href="@{/customers/edit/{id}(id=${customer.id})}">edit</a>
    <a
        th:href="@{/customers/delete/{id}(id=${customer.id})}">delete</a>
    <a
        th:href="@{/customers/show/{id}(id=${customer.id})}">show</a>
  </li>
</ul>
<p><a href="http://localhost:8080/customers/add">Add New Customer</a></p>

<p><a href="http://localhost:8080/">Back to Main Menu</a></p>

</body>
</html>
