<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Mediums Main Page</title>
</head>
<body>
<h1>Configure Mediums.</h1>
<ul>
  <li th:each="medium: ${mediums}">
    <span th:text="${medium.type}">type</span>
    <a
        th:href="@{/mediums/edit/{id}(id=${medium.id})}">edit</a>
    <a
        th:href="@{/mediums/delete/{id}(id=${medium.id})}">delete</a>
    <a
        th:href="@{/mediums/show/{id}(id=${medium.id})}">show</a>
  </li>
</ul>
<p><a href="http://localhost:8080/mediums/add">Add New Mediums</a></p>

<p><a href="http://localhost:8080/">Back to Main Menu</a></p>

</body>
</html>
