<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Setting Show Form</title>

  <div class="row">
    <a class="" th:href="@{/settings/show/{id}(id=${setting.id})}"></a>

    <p>TYPE: </p>
    <span th:text="${setting.type}">type</span>
    <p>ID: </p>
    <span th:text="${setting.id}">id</span>

    <p><a href="http://localhost:8080/settings">Back to Main Menu</a></p>
  </div>
</head>
