<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Setting Add Form</title>

  <form action="#" th:action="@{/settings/add}" method="post">

    <label for="type">Setting name:</label><br>
    <input type="text" id="type" name="type" value="Nature"><br>

    <input type="submit" value="Submit">
  </form>
</head>
<body>

</body>
</html>